.Info__value-description {
  margin: 8px 0 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

@media screen and (max-width: 720px) {
  .Info__value-description {
    font-size: calc((100vw - 320px) / (720 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (720 - 320) * (22 - 17) + 17px);
  }
}

@media screen and (max-width: 320px) {
  .Info__value-description {
    margin: 5px auto 0;
  }
}
