.popup__input_type_name {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input_type_name::placeholder {
  color: black;
}

@media screen and (max-width: 320px) {
  .popup__input_type_name {
    font-size: 14px;
    line-height: 17px;
  }
}
