.profile__add-button {
  margin-left: auto;
  height: 50px;
  width: 150px;
  align-self: center;
  background-image: url(../../../images/logo/profile__add-button/profile__add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
}

@media screen and (max-width: 610px) {
  .profile__add-button {
    margin: 34px auto 0;
    width: calc(100% - 19px * 2);
    background-image: url(../../../images/logo/profile__add-button/_profile__add-button_mobile/_profile__add-button_mobile.svg);
  }
}
