.Info__Edit-Button {
  margin: 0 0 0 18px;
  display: flex;
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/logo/Info__Edit-Button/Info__Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

@media screen and (max-width: 425px) {
  .Info__Edit-Button {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 10px;
    padding: 5.25px;
    box-sizing: border-box;
  }
}
