.profile__value-description {
  max-width: 336px;
  margin: 8px 0 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 660px) {
  .profile__value-description {
    max-width: 282px;
    margin: 5px auto 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
