.element__button-like {
  width: 22px;
  height: 19px;
  align-self: center;
  background-image: url(../../../images/logo/element__button-like/element__button-like.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);

  border: 0;
}
